
<% if logged_in? %>
    <!--<h2> loggedin..? </h2> -->
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
        ).html_safe %>

    </script>
<% end %>

<div id="root">
    <h2>The root page</h2>
</div>