// Place all the styles related to the api/Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form-container {
    // border: 1px red solid;
    box-sizing: border-box;
    width: 100%;
    // height: 700px;
    display: flex;

    .fa-user-circle {
        margin: 10px 10px 0 10px;
        // font-weight: lighter;
    }

    form {
        // border: 1px yellow solid;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 10px;
        width: 98%;
        // height: auto;

        textarea {
            // border: 1px blue solid;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px black solid;
            width: inherit;
            height: 34px;
            padding: 5px 10px 5px 10px;
            caret-color: gray;
            background-color: #1E1E1E;
            color: gray;
            font-size: 20px;
            overflow: hidden;
            resize: none;
        }

        .comment-form-btns {
            display:flex;
            justify-content: space-evenly;

            button {
                margin: 20px 10px 0 10px;
                background-color: transparent;
                border: 1px gray solid;
                width: 100px;
                height: 50px;
                
                font-size: 22px;
            }

            button:first-child {
                border: none;
            }

            button:hover {
                cursor: pointer;
            }
            
        }   
    }   
}

.comment {
    // border: 1px red solid; 
    display: flex;
    margin: 30px 10px;
    width: 96%;
    justify-content: space-between;

    .comment-section {
        // border: 1px green solid;
        display:flex;


        .comment-icon {
            // border: 1px blue solid;
            margin-right: 10px;
            
            .fa-user-circle {
                font-size: 40px;
            }
        }
        
        .comment-body {
            // border: 1px yellow solid;
            
            h6 {
                font-weight: bold;
            }
            p {
                margin: 5px 0;
            }
        }
    }
    .options {
        // border: 1px solid green;
        
        .ellipse {
            // border: 1px dash pink;
            text-align: right;
            position: relative;
            .fa-ellipsis-v {
                // border: 1px grey solid;
                text-align: right;
                font-size: 20px;
                visibility: hidden;

            }
            .fa-ellipsis-v:hover {
                cursor: pointer;
            }
        }
        #comment-dropdown { 
            // border: 1px solid purple;
            position: absolute;
            display: none;
            
            .edit-delete {
                background-color: rgb(54, 54, 54);
                li {
                    padding: 5px;
                }
                .fa-pencil-alt, .fa-trash-alt {
                    font-size: 15px;
                    padding-right: 10px;
                }
            }
            
        }
    }
    
}