// Place all the styles related to the api/Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbs {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;

    .likes-count, .dislikes-count {
        // border: 1px orange solid;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-thumbs-up, .fa-thumbs-down {
            // border: 1px yellow solid;
            font-size: 25px;
            margin: 0 10px;
            padding-right: 5px;
        }
    }

    
    .fa-thumbs-up:hover, .fa-thumbs-down:hover {
        cursor: pointer;
    }
}