// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
    color: white;
    width: 300px;
    height: 400px;

    
}

.form-container-inner {
    border: 1px solid gray;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    a {
        text-decoration: none;
        color:gray;
    }
    .demo {
        margin-bottom: 10px;
    }
}

.session-form {
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;

    a {
        text-decoration: none;
        color:gray;
    }

    .errors {
        font-size: 12px;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 80%;
    // border: 1px solid gray;
    align-items: center;
    
    label {
 
        margin-top: 15px;   
        margin-bottom: 5px;
    }
}

.form-links {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    align-items: center;
    a {
        font-size: 17px;
    }
}

.form-btn {
    width: 50%;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px gray solid;
    text-decoration: none;
    color: white;
    padding: 3px 5px 3px 5px;
    font-size: 16px;
    text-align: center;
}

.demo {
    a {
        font-size: 15px;
    }
    
}