.video-show-div {
    // border: 5px purple solid;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    

    .video-display {
        margin-bottom: 15px;
        margin-top: 19px;

        .video {
            // height: 500px;
            // border: 2px solid yellow;

            video {
                width: 100%;
                // height: 500px;
            }
        }

        .video-desc-box {
            // border: 2px solid yellow;
            margin-bottom: 20px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #B9B9B9;
            
            .header-div{
                // border: 1px solid blue;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #B9B9B9;
                h1 {
                    // border: 1px solid green;
                    font-size: 40px;
                    padding-bottom: 20px;
                    margin: 5px;
                }
            }

            .desc {
                // border: 1px solid blue;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                min-width: 750px;

                .fa-user-circle {
                    // border: 1px solid pink;
                    margin-right: 20px;
                }

                .desc-text {
                    p {
                        margin-top: 10px;
                        padding-top: 10px;
                    } 

                    #author {
                        font-size: 25px;
                    }

                    #description {
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.side-videos {
    border: 3px solid blue;
    width: 40%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .clip-div {
            border: 1px solid pink;
            width: 99%;

        .clip-content {
            border: 1px solid green;
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 0;

            video {
                border: 1px solid red;
                margin: 5px;
                height: 90%;
            }

            .clip-desc {
                border: 1px solid yellow;
                margin-left: 25px;

                .user-icon {
                    display: none;
                }

                .clip-title {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}