.video-show-div {
    // border: 5px purple solid;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    // top: 100px;
    // left: 700px;

    .video-display {
        margin-bottom: 15px;
        margin-top: 19px;

        .video {
            width: 100%;
            height: 100%;
            // border: 2px solid yellow;

            video {
                width: 100%;
                // height: 555px;
                min-width: 750px;
            }
        }

        .video-desc-box {
            // border: 2px solid yellow;
            margin-right: 20px;
            margin-bottom: 20px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;

            border-bottom: 1px solid #B9B9B9;
            
            h1 {
                font-size: 40px;
                border-bottom: 1px solid #B9B9B9;
                padding-bottom: 20px;
                margin-bottom: 15px;
                margin-top: 10px;
                min-width: 750px;
            }

            .desc {
                // border: 1px solid blue;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                min-width: 750px;

                .fa-user-circle {
                    // border: 1px solid pink;
                    margin-right: 20px;
                }

                .desc-text {
                    p {
                        margin-top: 10px;
                        padding-top: 10px;
                    } 

                    #author {
                        font-size: 25px;
                    }

                    #description {
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.side-videos {
    // border: 3px solid blue;
    width: 60%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .clip-div {
            // border: 1px solid pink;
            width: 99%;
            

        .clip-content {
            // border: 1px solid green;
            width: inherit;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 0;

            video {
                margin: 5px;
                // border: 1px solid red;
                min-width: 390px;
                height: 90%;
            }
            .clip-desc {
                // border: 1px solid yellow;
                margin-left: 10px;

                .user-icon {
                    display: none;
                }

                .clip-title {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}