/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: #1E1E1E;
    /* font-family: 'Quicksand', sans-serif; */
}

nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282828;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

button > a{
    font-size: 16px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    
}
.logo > a {
    display: flex;
    text-decoration: none;
    color: white;
}
.logo-img {
    height: 40px;
    width: 40px;
}

.logo-name {
    margin: auto;
    font-size: 20px;
}

.nav-btn {
    background-color: transparent;
    border: 1px white solid;
    height: 40px;
    width: 80px;
    padding: 2px;
}
.nav-btn > a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.main-container {
    width: 300px;
    height: 400px;
}