/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #B9B9B9;
    font-size: 12px;
    text-decoration: none;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: #1E1E1E;
    color: #B9B9B9;
}


button{
    font-size: 16px;
    color: #B9B9B9;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    
}


.main-container {
    left: 100px;
    top: 70px;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
}
