/* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
* {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #B9B9B9;
    font-size: 12px;
    text-decoration: none;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: #1E1E1E;
    color: #B9B9B9;
}


button{
    font-size: 16px;
    color: #B9B9B9;
}

#root {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    
}

.main-container {
    left: 60px;
    top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px dashed darkblue; */
}

.main {
    /* border: 2px dashed orange; */
    width: 100%;
    height: 100%;
}
