
nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282828;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.nav-btn {
    background-color: transparent;
    border: 1px gray solid;
    height: 30px;
    width: 80px;
    padding: 2px;
    position: fixed;
    right: 20px;
    cursor: pointer;

    a {
        text-decoration: none;
        color: white;
        padding: 5px;
        font-size: 16px;
    }
}

.logo {
    display: flex;
    align-content: center;
    width: 200px;

    a {
        display: flex;
        text-decoration: none;
        color: white;
        
    }
}

.logo-img{
    background: image-url('mew.png') left no-repeat;
    background-size: 60px 60px;
    height: 55px;
    width: 55px;
}

.logo-name {
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.right-nav {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.welcome {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 260px;
}

.upload-icon {
    background: image-url('upload.png') center no-repeat;
    background-size: 25px 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.side-nav{
    left: 0;
    top: 50px;
    bottom: 0;
    height: 100%;
    position: fixed;
    width: 60px;
    background-color: #282828;
    text-align: center;

    .side-section {
        margin-top: 20px;
    }
}

.side-icon {
    width: 60px;
    height: 60px;
}

.home-icon {
    background: image-url('home.png') center no-repeat;
    background-size: 35px 35px;
}

.search-bar-container {
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    
    .search-input-div {
        flex: 1;
        
    }
    .search-form {
        display: flex;
        align-items: center;
    }
    input[type="search"] {
        width: 100%;
        caret-color: gray;
        font-size: 17px;
        background-color: black;
        border: none;
        height: 30px;
        padding: 10px 7px 10px 7px;
    }

    input[type="submit"] {
        background: image-url('search.png') center no-repeat;
        background-color: #4C4C4C;
        background-size: 20px 20px;
        box-sizing: content-box;
        border: none;
        opacity: 0.9;
        width: 39px;
        height: 27px;
    }

    .search-icon:hover {
        cursor: pointer;
    }

}
