
.content {
    color: #B9B9B9;
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid blue;
}